@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

*::selection {
    background-color:rgb(16, 30, 56);
    color:rgb(168, 197, 239);
}

header {
    background-color:rgb(168, 197, 239);
    width: 100%;
    position: fixed;
    z-index: 1;
}

.nav-item a {
    color:rgb(16, 30, 56);
    font-weight: 500;
}

.nav-item a:hover {    
    color: rgb(138, 139, 140);
    transition: all 1s;
}

main {
    padding-top: 4rem;
}

.sanatorio {
    width: 100%;
}

.cuadros {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cardEsp {
    display: flex;
    margin: 1rem;
    padding: 0.1rem;
    width: 18rem;
    justify-content: center;
}

.card img {
    padding: 0.5rem;
}

.cuadros-dos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mostrarRes {
    align-items: left;
    justify-content: left;
}

img {
    width: 100%;
}

.card2 {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    padding: 1rem;
}

.card2.div {
    margin: 1rem;
}

.margin-top {
    padding-top: 1rem;
}

.card3 {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.btn {
    margin: 0.5rem;
}

.footer {
    background-color: rgb(168, 197, 239);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}